.inicio{
  position: absolute;
  top: 40px;
  padding: 15px;
  z-index: 10;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align:center;
  background-color: rgba(220, 20, 60, 0.7);
  color: white;
  border-top-right-radius: 25px;
  border-end-end-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgambu{
  margin-top: 65px; 
  position: relative;
  
}
.contenedor-padre{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.columna-der-texto{
  position: absolute;
  z-index: 10;
  top: 325px;
  height: auto;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  margin-bottom: 10px;
  word-wrap: break-word;
  margin-right: 20px;
  text-align: justify;
  color:rgba(0, 0, 0, 0.808);
  font-size: 132%;
  background-color:rgba(255, 255, 255, 0.726);
  width: 50%;
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.columna-izq{
  display:flex;
  flex: 0.4;
  min-width: 0;
} 


.logo1{
  flex: 1;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  display: block;
  min-height: 200px;
}

.servicios{
  text-align: center;
  color:rgba(220, 20, 60);
  font-size: 85%;
  font-weight: bold;
  margin-top: 0px;
}

.columservicios{
  display:flex;
  gap:10px;
  text-align: center;
  background-color: rgba(4, 35, 121);
  padding: 30px;
  
}

.columndesc{
  border-radius: 30px;
  border: 1px solid rgba(2, 32, 112, 0.808);
  padding: 20px;
  margin: 1.5%;
  background-color: whitesmoke;
}

.icono{
  font-size: 1.2em;
  line-height: 1;
}

.boton-servicio {
  background-color: rgba(243, 0, 81, 0.808); 
  border: 4px solid rgba(29, 33, 43, 0.808);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  gap: 8px; 
  transition: background-color 0.3s ease;
}

.boton-servicio:hover {
 background-color: rgba(243, 60, 60, 0.808);
 
}
.contenedor-afil1{
  background-color: rgba(243, 60, 60);
  padding: 20px;
}
.contenedor-afil2{
  margin: 10px;
  text-align: center;
  color: white;
  font-size: 80%;
}
.contenedor-contacto{
  background-color: rgb(2, 32, 112);
  padding: 30px;
  height: auto;
}

.espacio{
  height: 50px;
  background: white;
}
.contacto{
  color: white;
  text-align: center;
}

.foot{
  background-color: rgb(2, 32, 112);
  color: white;
  text-align: center;
  padding: 10px;
}