.inicio{
  position: absolute;
  top: 40px;
  padding: 15px;
  z-index: 10;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align:center;
  background-color: rgba(220, 20, 60, 0.7);
  color: white;
  border-top-right-radius: 25px;
  border-end-end-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.imgambu{
  margin-top: 65px; 
  width: 100%;
  position: relative;
  
}
.contenedor-padre{
  display: flex;
  gap: 15px;
  padding: 0px 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  
}

.columna-der-texto{
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
  word-wrap: break-word;
  min-width: 0;
  margin-right: 20px;
  text-align: justify;
  font-weight: bold;
  color:rgba(4, 35, 121, 0.808);
  font-size: 110%;
  background-color:rgba(255, 198, 209, 0.726);
  border-top-left-radius: 25px;
  border-end-start-radius: 25px;
  
  
}


.columna-izq{
  flex: 0.5;
  min-width: 0;
} 


.logo1{
  flex: 1.5;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  display: block;
  min-height: 200px;
}

